extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Magdalena Santos

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Hi, my name is Magdalena Santos. I have currently recived a Full Stack Techdegree from Treehouse and now I am an apprentice developer at Verizon. I was born and raised in Poland. I came to the United States in the 90's. Previously I worked as a banker for over 13 years and then as a Director of Addmissions for treatment center for substance abuse in Florida. I am very organized, detail oriented, I work well under pressure and as a team member. I like to learn new things and be challenged. For fun, I like to be with the nature. I lkie hiking, camping, swimming. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li JSON 
          li Express
          li Pug
          li Visiual Studio
          li GitHub
          li Node.js
          li APIs
  
        h6 Contact Info

        
        ul
          li 561-768-2997
          li msantos972@aol.com

        
        a.button.expanded(href='https://github.com/sanma1i?tab=repositories') GitHub
        a.button.expanded(href='www.facebook.com') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  